.GridPoints {
    display: inline-block;
    background: #ccc;
    border: 1px solid rgba(0,0,0,0.3);
    text-align: center;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
    background-color: rgba(255,255,255,0.2);
}

.GridPoints:hover {
    border: solid 1px black;
}

.GridPoints .cancel {
    background-color: rgba(255,0,0,0.1);
    border: solid 1px rgba(0,0,0,0.1);
    cursor: default;
}
