.ImageUploader {
    position: absolute;
    top: 10px;
    left: 70%;
}

.ImageUploader button.icon {
    background-color: rgba(0,0,0,0);
    max-width: 50px;
    max-height: 50px;
    cursor: pointer;
}

.ImageUploader button.icon:focus {
    outline: 0;
}

.ImageUploader button.icon img {
    max-width: 100%;
    max-height: 100%;
}
